[build]
  publish = "."
  functions = "netlify/functions"
  command = "npm install"

[functions]
  node_bundler = "esbuild"
  # Tutaj Netlify Function będą szukały zmiennych środowiskowych (np. DATABASE_URL)